<html>
    <head>
        <title>NextGen Mentors</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/logic.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body onload="init()">

        <div id="chat" class="chat">
            <img src="../static/logo.png" height=60>
            <div id="history" class="reply">

            </div>
            <table><tr>
            <td><textarea id="q" rows=2 name="q"></textarea>&nbsp;&nbsp;</td>
            <td>
                <button class='icon' onclick="javascript:make_post_request('ask', ask, 'q');"><i class="fas fa-paper-plane"></i></button>
                <button class='icon' onclick="javascript:init();"><i class="fas fa-trash"></i></button>
            </td>
            </tr></table>
        </div>
    </body>
</html>